<%# <% @user.attended_events.@timing.find_each do |event| %>
  <%= link_to event_path(event), class: 'text-decoration-none text-dark' do %>
    <ul class="wrapper col-10 mx-auto mb-3 list-group fl-card">
    <li class="list-group-item p-0"><%= image_tag event.image, class: 'card-img-top m-0 p-0' %></li>
    <li class="list-group-item font-weight-bold"><%= event.name.upcase %></li>
    <li class="list-group-item"><%= event.date %></li>
    <li class="list-group-item"><%= event.description %></li>
  </ul>
  <% end %>
<%# <% end %>