<ul class="list-group h-100 col-8 mb-3 mx-auto text-decoration-none text-dark">
  <li class="list-group-item p-0"><%= image_tag @event.image, class: 'card-img-top m-0 p-0' %></li>
  <li class="list-group-item font-weight-bold bg-dark text-light"><%= @event.name %></li>
  <li class="list-group-item"><strong>Organizer:</strong> <%= link_to @event.creator.username, user_path(@event.creator) %></li>
  <li class="list-group-item"><strong>Date:</strong> <%= @event.date %></li>
  <li class="list-group-item flex-grow-1"><strong>Description:</strong> <%= @event.description %></li>
  <li class="list-group-item flex-grow-1">
    <strong>Attendees: </strong>
    <table class="table mt-3">
      <thead>
        <tr>
          <th scope='col'>Name</th>
          <th scope='col'>Confirmed</th>
          <th scope='col'>profile</th>
        </tr>
      </thead>
      <tbody>
        <% @event.invitations.each do |invitation| %>
          <tr>
            <th scope="row"><%= invitation.invited.username %></th>
            <td><%= invitation.is_accepted %></td>
            <td><%= link_to 'profile', user_path(invitation.invited) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </ul>
</li>
</ul>
